@import '../../assets/scss/variables';
@import '../../assets/scss/styles.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $darkPrimary;
    padding: 1rem;
    box-shadow: $shadow;
    .header-heading {
        font-family: $font;
        font-weight: 700;
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
        font-stretch: ultra-expanded;
    }
}