@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.header {
  position: relative;
  width: 100%;
  background: $darkPrimary;
  padding: 1rem;
  box-shadow: $shadow;
  z-index: 10;
  .header-heading {
    @include headingOne;
    color: $white;
  }
}
