@mixin headingOne {
  font-family: $font;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
}
@mixin headingTwo {
  font-family: $font;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}
@mixin paragraph {
  font-family: $font;
  font-weight: 300;
  font-size: 1rem;
}
@mixin centerItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
