// THEMES COLORS

$primary: #004d40;
$accent: #00bfa5;
$darkPrimary: #00251a;
$lightPrimary: #39796b;
$white: white;
$black: black;
$grey: rgba(0,0,0,0.5);
$lightGrey: #f2f2f2;

// TYPOGRAPHY

$font: "Montserrat", sans-serif;
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

// MISCELLANEOUS

$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);