<div class="search">
  <form class="search-form">
    <h2>Find the planet in a galaxy far, far away</h2>
    <label for="search-input" class="search-label">Filter planets by name</label>
    <div class="search-input--container">
      <input
        class="search-input"
        id="search-input"
        placeholder="Start typing..."
      />
      <button type="submit" class="search-button">
        <span class="material-icons search-button--icon">
          search
        </span>
      </button>
    </div>
  </form>
</div>
